{% extends "admin_panel/base_admin.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="dashboard-wrapper">

    <!-- floating icons -->
    <i class="fa fa-layer-group bg-float bg1"></i>
    <i class="fa fa-tags bg-float bg2"></i>
    <i class="fa fa-box bg-float bg3"></i>

    <h3 class="mb-4 fw-bold">Admin Dashboard</h3>

    <div class="row g-4 m-5">

        <!-- ===== HEADS ===== -->
        <div class="col-md-4 fade-up" style="animation-delay:.1s">
            <div class="stat-card">
                <div class="stat-icon">
                    <i class="fa fa-layer-group"></i>
                </div>
                <div class="stat-title">Total Loan Heads</div>
                <div class="stat-number">{{ heads_count }}</div>
            </div>
        </div>

        <!-- ===== CATEGORIES ===== -->
        <div class="col-md-4 fade-up" style="animation-delay:.25s">
            <div class="stat-card">
                <div class="stat-icon">
                    <i class="fa fa-tags"></i>
                </div>
                <div class="stat-title">Categories</div>
                <div class="stat-number">{{ categories_count }}</div>
            </div>
        </div>

        <!-- ===== PACKAGES ===== -->
        <div class="col-md-4 fade-up" style="animation-delay:.4s">
            <div class="stat-card">
                <div class="stat-icon">
                    <i class="fa fa-box"></i>
                </div>
                <div class="stat-title">Packages</div>
                <div class="stat-number">{{ packages_count }}</div>
            </div>
        </div>

    </div>

</div>

{% endblock %}
