{% extends 'customer/base_customer.html' %}

{% block content %}

<div class="loan-head fade-up">

<h3 class="mt-4">My Applied Loans</h3>

<div class="table-responsive">

<table class="table table-bordered table-hover">

    <thead class="table-dark text-center">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Loan Type</th>
            <th>Amount</th>
            <th>Tenure</th>
            <th>Bank</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>

    {% for loan in loans %}

    <tr class="text-center">

        <td>{{ forloop.counter }}</td>

        <td>{{ loan.full_name }}</td>
        <td>{{ loan.email }}</td>
        <td>{{ loan.mobile }}</td>

        <td>{{ loan.loan_type }}</td>
        <td>₹ {{ loan.amount }}</td>
        <td>{{ loan.tenure }} Years</td>
        <td>{{ loan.bank }}</td>

        <td>
    {% if loan.status == "Approved" %}
        <span class="badge bg-success">Done</span>

    {% elif loan.status == "Rejected" %}
        <span class="badge bg-danger">Not Approved</span>

    {% else %}
        <span class="badge bg-warning text-dark">Pending</span>
    {% endif %}
</td>

        <td>{{ loan.applied_date|date:"d M Y" }}</td>

    </tr>

    {% empty %}

    <tr>
        <td colspan="10" class="text-center">
            No loans applied yet
        </td>
    </tr>

    {% endfor %}

    </tbody>

</table>

</div>

</div>

{% endblock %}