{% extends "customer/base_customer.html" %}

{% block content %}

<div class="loan-head-wrap fade-up">

    <!-- Page Header -->
    <div class="page-head d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3 class="fw-bold mb-1">My Documents</h3>
            <p class="text-muted mb-0">Manage your uploaded documents</p>
        </div>

    </div>

 <div class="row g-4">

{% for loan_id, docs in grouped_documents.items %}

<div class="col-12">
    <div class="alert alert-primary">
        <strong>
            Loan: {{ docs.0.loan.loan_type }} |
            ₹ {{ docs.0.loan.amount|floatformat:2 }}
        </strong>
    </div>
</div>

{% for doc in docs %}

<div class="col-md-4">

    <div class="document-card">

        <span class="doc-status 
            {% if doc.status == 'Approved' %}status-approved
            {% elif doc.status == 'Rejected' %}status-rejected
            {% else %}status-pending{% endif %}">
            {{ doc.status }}
        </span>

        <h5 class="document-title">{{ doc.document_type }}</h5>

        <p class="document-desc">
            Uploaded for {{ doc.loan.loan_type }} Loan
        </p>

        <div class="document-actions">

            <a href="{{ doc.file.url }}" target="_blank" class="doc-btn view-btn">View</a>

            <a href="{{ doc.file.url }}" download class="doc-btn edit-btn">Download</a>

            <form action="{% url 'delete_document' doc.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="doc-btn delete-btn">Delete</button>
            </form>

        </div>

    </div>

</div>

{% endfor %}

{% empty %}
<p>No documents uploaded</p>
{% endfor %}

</div>
  
</div>

{% endblock %}