{% extends 'customer/base_customer.html' %}

{% block content %}
<div class="loan-head">

<h2>EMI Tracking</h2>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!-- Summary -->
<div class="card-container">

    <div class="dashboard-card">
        <h4>Total EMIs</h4>
        <h1>{{ total_emis }}</h1>
    </div>

    <div class="dashboard-card">
        <h4>Paid</h4>
        <h1>{{ paid_emis }}</h1>
    </div>

    <div class="dashboard-card">
        <h4>Pending</h4>
        <h1>{{ pending_emis }}</h1>
    </div>

</div>

<div class="table-box">

<table class="emi-table">
    <thead>
        <tr>
            <th>EMI No</th>
            <th>Amount</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

<tbody>

{% if loan_data %}

    {% for item in loan_data %}

    <!-- 🔥 LOAN HEADER -->
    <tr style="background:#fff3e0;">
        <td colspan="5">
            <b>Loan Type:</b> {{ item.loan.loan_type }} |
            <b>Amount:</b> ₹{{ item.loan.amount }} |
            <b>Tenure:</b> {{ item.loan.tenure }} Years
        </td>
    </tr>

        {% if item.next_emi %}

<tr>
    <td>#{{ item.next_emi.emi_number }}</td>
    <td>₹ {{ item.next_emi.amount|floatformat:2 }}</td>
    <td>{{ item.next_emi.due_date }}</td>

    <td>
        <span class="status pending">Pending</span>
    </td>

    <td>
        <a href="{% url 'payment_page' item.next_emi.id %}" class="btn-pay">
            Pay Now
        </a>
    </td>
</tr>

{% else %}

<tr>
    <td colspan="5" style="text-align:center;">
        ✔ All EMIs Paid
    </td>
</tr>

{% endif %}

    {% endfor %}

{% else %}
<tr>
    <td colspan="5" style="text-align:center;">
        No EMI Records Found
    </td>
</tr>
{% endif %}

</tbody>



</table>

</div>

</div>
{% endblock %}