{% extends 'customer/base_customer.html' %}

{% block content %}

<div class="loan-head fade-up">

<h2>EMI Payment History</h2>

<div class="table-box">

<table class="emi-table">
    <thead>
        <tr>
            <th>EMI No</th>
            <th>Loan Type</th>
            <th>Amount</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Receipt</th>
        </tr>
    </thead>

    <tbody>

    {% if emis %}

        {% for emi in emis %}
        <tr>
            <td>#{{ emi.emi_number }}</td>
            <td>{{ emi.loan.loan_type }}</td>
            <td>₹ {{ emi.amount|floatformat:2 }}</td>
            <td>{{ emi.due_date }}</td>
            <td>
                <span class="status paid">
                    <i class="fa fa-check-circle"></i> Paid
                </span>
            </td>
            <td>
                <a href="{% url 'download_emi_receipt' emi.id %}" 
                target="_blank"
                class="btn btn-sm btn-primary">
                    <i class="fa fa-download"></i> Download
                </a>
            </td>
        </tr>
        {% endfor %}

    {% else %}

        <tr>
            <td colspan="5" style="text-align:center;">
                No EMI History Found
            </td>
        </tr>
        

    {% endif %}

    </tbody>
</table>

</div>

</div>

{% endblock %}