{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register - Smart Finance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'image/favicon_io/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/customer.css' %}">
</head>
<body class="auth-bg">
<div class="loan-head fade-up">
<div class="auth-container">

    <div class="auth-left">
        <h1>Smart Finance</h1>
        <p>Secure. Fast. Trusted Loan Services.</p>
    </div>

    <div class="auth-box">
        <h2>Create Account</h2>

{% if messages %}
    {% for message in messages %}
        <p style="color:red; text-align:center;">{{ message }}</p>
    {% endfor %}
{% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="name" required>
                <label>Full Name</label>
            </div>

            <div class="input-group">
                <input type="email" name="email" required>
                <label>Email Address</label>
            </div>

            <div class="input-group">
                <input type="text" name="phone" required>
                <label>Phone Number</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button type="submit" class="btn-primary">Register</button>
        </form>

        <p class="auth-link">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</div>
</div>

</body>
</html>
