{% load static %}

<footer>
    <div class="section py-5 scroll-animate fade-in">
        <div class="d-flex flex-column gap-2 p-5 bg-gradient-footer rounded-4 accent-primary">

            <div class="d-flex flex-xl-row flex-column gap-3 justify-content-between align-items-center">
                <img src="{% static 'image/l7.png' %}" class="img-fluid" width="300">

                <div class="d-flex flex-xl-row flex-column gap-4 scroll-animate fade-left">
                    <a href="/" class="link">Home</a>
                    <a href="/loans/types/" class="link">Loan Types</a>
                    <a href="/required_documents/" class="link">Documents</a>
                    <a href="/emi-calculator/" class="link">EMI Calculator</a>
                    <a href="/about/" class="link">About Us</a>
                    <a href="/services/" class="link">Services</a>
                    <a href="/contact/" class="link">Contact Us</a>
                </div>

                <div class="social-container team gap-2 scroll-animate fade-right">
                    <a href="https://www.facebook.com/" class="social-item"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.twitter.com/" class="social-item"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" class="social-item"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.youtube.com/" class="social-item"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>

            <hr class="border-light">

            <span class="text-white text-center">
                © 2026 BCA. All Rights Reserved.
            </span>

        </div>
    </div>
</footer>

<!-- JS -->
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/swiper-script.js' %}"></script>
<script src="{% static 'js/submit-form.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/video_embedded.js' %}"></script>
<script src="{% static 'js/vendor/fslightbox.js' %}"></script>

<!-- CDN -->
<script src="https://cdn.jsdelivr.net/gh/shishirraven/animate-on-scroll@v1.0/oyethemes_onscroll_animation.js"></script>
