{% load static %}

<div id="header" class="fixed-top pt-5 scrollanimation animated fadeIn">
    <nav class="navbar navbar-expand-xl mx-0">
        <div class="container-fluid">

            <div class="logo-container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'image/l7.png' %}" class="img-fluid">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
                <i class="fa-solid fa-bars-staggered accent-color-2"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav gap-xl-4">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'loan_types' %}">Loan Types</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'required_documents' %}">Documents</a>
                    </li>

                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'emi_calculator' %}">EMI Calculator</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>

                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}">Services</a>
                    </li> {% endcomment %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>

                </ul>

               <div class="nav-profile ms-xl-4">

                {% if request.session.customer_id %}

                <div class="profile-circle" onclick="toggleProfileMenu()">
                    <i class="fa-solid fa-user"></i>
                </div>

                <div class="profile-dropdown" id="profileMenu">

                    <a href="{% url 'profile' %}" class="profile-email">
                        {{ request.session.customer_email }}
                    </a>

                    <div class="profile-divider"></div>

                    <a href="{% url 'logout' %}" class="profile-logout">
                        <i class="fa fa-sign-out-alt"></i> Sign Out
                    </a>

                </div>

                {% else %}

                <a href="{% url 'login' %}" class="login-btn-nav">
                    Login
                </a>

                {% endif %}

                </div>
            </div>

        </div>
    </nav>
</div>
