<div class="sidebar">
    <div class="logo">🛡 Customer Panel</div>

    <ul class="sidebar-menu">
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'apply_loan' %}">Loan Apply</a></li>
        <li><a href="{% url 'loan_status' %}">Loan Status</a></li>
        <li><a href="{% url 'emi_tracking' %}">EMI Tracking</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'documents' %}">Documents</a></li>
        <li><a href="{% url 'emi_history' %}">EMI Transaction History</a></li>
    </ul>

    <!-- Logout Button -->
    <div class="sidebar-logout">
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-btn">
                <i class="fa fa-right-from-bracket"></i>
                Logout
            </button>
        </form>
    </div>
</div>