{% extends "loan_head/base_loan_head.html" %}
{% block title %}Customer Requests{% endblock %}

{% block content %}
<div class="loan-head fade-up">
<h3 class="page-anim-title">Customer Loan Requests</h3>

<div class="table-card m-5 page-anim-box">

<table class="table align-middle">

<thead>
<tr>
    <th>#</th>
    <th>Customer Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Loan Type</th>
    <th>Amount</th>
    <th>Tenure</th>
    <th>Bank</th>
    <th>Status</th>
    <th>Action</th>
</tr>
</thead>

<tbody>

{% for loan in loans %}

<tr class="text-center">

    <td>{{ forloop.counter }}</td>

    <!-- Customer Data -->
    <td>{{ loan.full_name }}</td>
<td>{{ loan.email }}</td>
<td>{{ loan.mobile }}</td>

    <!-- Loan Data -->
    <td>{{ loan.loan_type }}</td>
    <td>₹ {{ loan.amount }}</td>
    <td>{{ loan.tenure }} Years</td>
    <td>{{ loan.bank }}</td>

    <!-- Status -->
        <td>
    {% if loan.status == "Approved" %}
        <span class="badge bg-success">✔ Approved</span>

    {% elif loan.status == "Rejected" %}
        <span class="badge bg-danger">✖ Rejected</span>

    {% else %}
        <span class="badge bg-warning text-dark">⏳ Pending</span>
    {% endif %}
</td>



<td>
    <!-- DELETE -->
    <form action="{% url 'loan_head:delete_loan' loan.id %}" 
          method="POST" style="display:inline;">
        {% csrf_token %}
        <button type="submit" 
                class="btn btn-dark btn-sm"
                onclick="return confirm('Delete this loan?')">
            Delete
        </button>
    </form>

</td>


</tr>

{% empty %}

<tr>
    <td colspan="10" class="text-center">
        No customer requests found
    </td>
</tr>

{% endfor %}

</tbody>

</table>
</div>
</div>

{% endblock %}
