<nav class="admin-navbar navbar navbar-expand-lg">

    <div class="container-fluid px-4">

        <!-- Brand -->
        <span class="navbar-brand fw-bold neon-text">
            <i class="fa fa-user-circle me-2"></i> Admin
        </span>

        <!-- Right -->
        <div class="ms-auto d-flex align-items-center gap-4">

            <a href="/" class="btn btn-view-site fw-bold"">
                View Site <i class="fa fa-arrow-up-right-from-square ms-1"></i>
            </a>

        </div>

    </div>

</nav>
