<aside class="admin-sidebar">

    <h5 class="sidebar-title">
        <i class="fa fa-shield-halved"></i> Admin Panel
    </h5>

    <ul class="nav nav-pills flex-column sidebar-nav">

        <li class="nav-item">
            <a href="{% url 'admin_panel:dashboard' %}" class="nav-link">
                <span class="icon"><i class="fa fa-chart-line"></i></span>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'admin_panel:loan_head_list' %}" class="nav-link">
                <span class="icon"><i class="fa fa-layer-group"></i></span>
                Loan Heads
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'admin_panel:category_list' %}" class="nav-link">
                <span class="icon"><i class="fa fa-tags"></i></span>
                Categories
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'admin_panel:package_list' %}" class="nav-link">
                <span class="icon"><i class="fa fa-box"></i></span>
                Packages
            </a>
        </li>

        <li class="nav-item">
    <a href="{% url 'admin_panel:contact_list' %}" class="nav-link">
        <span class="icon"><i class="fa fa-envelope"></i></span>
        Contact Messages
    </a>
</li>

<li class="nav-item">
    <a href="{% url 'admin_panel:admin_report' %}" class="nav-link">
        <span class="icon"><i class="fa fa-file-alt"></i></span>
        Reports
    </a>
</li>


        <div class="sidebar-logout">
            <form method="POST" action="{% url 'admin_panel:logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-btn">
                    <i class="fa fa-right-from-bracket"></i>
                    Logout
                </button>
            </form>
        </div>

    </ul>

</aside>