{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
{% load static %}

<main>

    <!-- Banner -->
<div class="section banner-wrapper mt-5 position-relative overflow-hidden mx-auto rounded-4 scroll-animate fade-in">
    <div class="bg-overlay"></div>

    <div class="r-container h-100 position-relative">
        <div class="banner-inner d-flex flex-column w-100 h-100 justify-content-center mx-auto align-items-center text-white gap-3">

            <h2 class="m-0 text-white banner-heading">Contact Us</h2>

            <div class="sf-breadcrumb-wrapper">
                <a href="{% url 'index' %}" class="sf-breadcrumb-home">Home</a>
                <span class="sf-breadcrumb-sep">›</span>
                <span class="sf-breadcrumb-current">Contact Us</span>
            </div>

        </div>
    </div>
</div>


<!-- ================= CONTACT ================= -->
<div class="section">
<div class="r-container d-flex flex-column gap-4">

<div class="row row-cols-xl-2 row-cols-1">

<!-- LEFT IMAGE -->
<div class="col mb-3 scroll-animate fade-left">

<div class="position-relative h-100 rounded-4 overflow-hidden">
    <div class="bg-overlay-2"></div>

    <img src="{% static 'image/img38.png' %}"
         class="img-fluid rounded-4 h-100 w-100 scroll-animate zoom-in"
         style="aspect-ratio: 1/1;" alt="">

    <div class="custom-border-2 accent position-absolute bottom-0 end-0 scroll-animate fade-up">
        <a href="#" class="icon-box-2">
            <i class="rtmicon rtmicon-classic-phone"></i>
        </a>
    </div>

    <div class="position-absolute bottom-0 start-0 w-75 accent-primary ps-5 pb-5 scroll-animate fade-right"
         style="z-index: 2;">

        <div class="sub-heading cta">
            <h6 class="m-0">Contact Us</h6>
        </div>

        <h3>Any Question? Let’s Ask Our Team</h3>
    </div>
</div>

</div>

<!-- RIGHT FORM -->
<div class="col mb-3 scroll-animate fade-right">

<div class="d-flex flex-column gap-3 justify-content-center w-100 bg-gradient-footer p-5 rounded-4">

<h4 class="accent-primary">Fill This Form</h4>

<div class="position-relative w-100">

<div class="w-100 scroll-animate fade-up">

<div class="contact-form-custom">

<form method="POST">
{% csrf_token %}

<input type="text" name="name" placeholder="Name">

<input type="email" name="email" placeholder="Email">

<input type="tel" name="phone" placeholder="Phone">

<input type="text" name="subject" placeholder="Subject">

<textarea name="message" placeholder="Message"></textarea>

<button type="submit">Send Message</button>

</form>

</div>

</div>
</div>
</div>

</div>
</div>
</div>

<!-- ================= CONTACT BOXES ================= -->

<div class="section py-0 overflow-visible position-relative scroll-animate fade-up"
     style="margin-bottom: 5rem; z-index: 1000;">

<div class="r-container">

<div class="row row-cols-xl-3 row-cols-1">

<div class="col mb-3 scroll-animate zoom-in">
<a href="#" class="link d-flex flex-column h-100 justify-content-center accent-primary bg-gradient-left rounded-4 align-items-center text-center p-4 border border-5 border-primary">
<i class="rtmicon rtmicon-location" style="font-size: 50px;"></i>
<h5 class="fs-5">Location</h5>
<span style="font-size: 14px;">KLLG St, No.99, Pku City, ID 28289</span>
</a>
</div>

<div class="col mb-3 scroll-animate zoom-in">
<a href="#" class="link d-flex flex-column h-100 justify-content-center accent-primary bg-gradient-left rounded-4 align-items-center text-center p-4 border border-5 border-primary">
<i class="rtmicon rtmicon-envelope" style="font-size: 50px;"></i>
<h5 class="fs-5">Email</h5>
<span style="font-size: 14px;">loansphere@gmail.com</span>
</a>
</div>

<div class="col mb-3 scroll-animate zoom-in">
<a href="#" class="link d-flex flex-column h-100 justify-content-center accent-primary bg-gradient-left rounded-4 align-items-center text-center p-4 border border-5 border-primary">
<i class="rtmicon rtmicon-globe" style="font-size: 50px;"></i>
<h5 class="fs-5">Website</h5>
<span style="font-size: 14px;">www.loansphere.com</span>
</a>
</div>

</div>
</div>
</div>

<!-- ================= MAP ================= -->

<div class="section p-0 scroll-animate fade-up">


<iframe loading="lazy" class="maps overflow-hidden" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.6350980487173!2d74.93764941088385!3d17.42929090152735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc155a7bd7c809d%3A0xc5786dc842361dd1!2sCodexlabz!5e0!3m2!1sen!2sin!4v1774761314158!5m2!1sen!2sin" title="Atpadi"></iframe>
</div>

</main>

{% endblock %}
