            {% extends 'base.html' %}

            {% block title %}Home{% endblock %}

            {% block content %}
            {% load static %}

                <!-- Main -->
                <main>
                    <!-- Banner -->
                    <div class="section pt-5 position-relative scroll-animate fade-up">
                        <div class="mx-auto" style="max-width: 1816px;">
                            <img src="{% static 'image/img1.png' %}" class="img-fluid rounded-4 w-100" style="height: 100vh;" alt="">
                        </div>
                        <div class="mx-xl-5 overflow-visible position-absolute bottom-0 start-0 end-0 scroll-animate fade-left">
                            <div class="d-flex flex-xl-row flex-column gap-3" style="padding-bottom: 6em;">
                                <div class="col mb-3 mb-xl-0">
                                    <div class="py-5 ps-5 pe-4 text-xl-start text-center">
                                        <h1 class="accent-primary">Realize Your Potential With the Right Investment</h1>
                                    </div>
                                </div>
                                <div class="col mb-3 mb-xl-0 scrollanimation animated fadeInRight">
                                    <div class="d-flex flex-column h-100 align-items-xl-start align-items-center text-xl-start text-center gap-xl-5 gap-3 p-5 bg-accent-primary"
                                        style="border-top-left-radius: 20px;">
                                        <p>
                                        LoanSphere Finance provides individuals and businesses with easy loan options, safe investment choices, and transparent
                                        financial services designed for long-term growth.
                                        </p>
                                        <div class="d-flex flex-xl-row flex-column gap-5 align-items-center">
                                            <div class="w-max-content">
                                                <a href="{% url 'contact' %}" class="btn btn-accent d-flex flex-row gap-3">
                                                    <span>Contact Us</span>
                                                    <i class="rtmicon rtmicon-arrow-up-right fw-bold"></i>
                                                </a>
                                            </div>
                                            <div class="d-flex flex-row gap-3 align-items-center">
                                                <div class=" d-flex flex-row customer-container">
                                                    <div class="customer-item">
                                                        <img src="{% static 'image/img29.png' %}" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="customer-item">
                                                        <img src="{% static 'image/img30.png' %}" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="customer-item">
                                                        <img src="{% static 'image/img31.png' %}" class="img-fluid" alt="">
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <div class="flex-row">
                                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                        <i class="fa-solid fa-star" style="color: var(--grey-light);"></i>
                                                    </div>
                                                    <span class="testimonial-name">(1.5k+ Reviews)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Section Marquee -->
                    <div class="section p-0">
                        <div class="d-flex flex-column gap-3 text-center align-items-center justify-content-center mx-auto position-relative my-5 accent-primary">
                            <div class="marquee-container bg-gradient-right" style="transform: rotate(3deg); position: relative;">
                                <div class="marquee-content green-neon">
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Finance</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-insurance" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Invesment</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-global-economy" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Finance</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-insurance" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Invesment</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-global-economy" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Finance</h3>
                                    </div>
                                    <div class="marquee-item py-2 align-items-center">
                                        <i class="rtmicon rtmicon-insurance" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Invesment</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center ">
                                        <i class="rtmicon rtmicon-global-economy" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Finance</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-insurance" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Invesment</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-global-economy" style="font-size: 45px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="marquee-container reverse bg-gradient-left" style="transform: rotate(-3deg); position: absolute;">
                                <div class="marquee-content">
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Finance</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-insurance" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Invesment</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-global-economy" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Finance</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-insurance" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Invesment</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-global-economy" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Finance</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-insurance" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Invesment</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-global-economy" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Finance</h3>
                                    </div>
                                    <div class="marquee-item py-2 align-items-center">
                                        <i class="rtmicon rtmicon-insurance" style="font-size: 45px;"></i>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center justify-content-center">
                                        <h3 class="m-0">Invesment</h3>
                                    </div>
                                    <div class="marquee-item py-2 d-flex align-items-center">
                                        <i class="rtmicon rtmicon-global-economy" style="font-size: 45px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="section">
                <div class="r-container d-flex flex-column gap-3">

                    <div class="d-flex flex-column gap-2 align-items-center justify-content-center mx-auto text-center"
                        style="max-width: 700px;">
                        <div class="sub-heading">
                            <h6 class="m-0">Pricing Plan</h6>
                        </div>
                        <h3>Choose the Perfect Plan for Your Financial Success</h3>
                        <p>Select from our flexible pricing options.</p>
                    </div>

                    <div class="row row-cols-xl-3 row-cols-1" style="margin-top: 50px;">

                        {% for pkg in packages %}

                        <div class="col mb-xl-3 mt-xl-0 mb-5 mt-3 scrollanimation animated fadeInLeft">

                            <div class="card card-pricing">

                                <div class="d-flex flex-column gap-3 align-items-center"
                                    style="margin-top: -80px;">

                                    <div class="bg-accent-color-2 custom-border-3">
                                        <i class="rtmicon rtmicon-rate"></i>
                                    </div>

                                    <div class="sub-heading rounded-pill">
                                        <h6 class="m-0">{{ pkg.title }}</h6>
                                    </div>

                                    <div class="d-flex flex-row heading mb-3 align-items-end">
                                        <h4 class="m-0 fw-bold">
                                            ₹{{ pkg.min_amount }} – ₹{{ pkg.max_amount }}
                                        </h4>
                                        <i class="my-3">{{ pkg.tenure_years }} Years</i>
                                    </div>

                                    <p>
                                        {{ pkg.category.name }}
                                    </p>

                                    <div class="custom-border-4 w-100"></div>

                                    <div class="d-flex flex-column gap-2">

                                    {% for f in pkg.feature_list %}
                <div class="d-flex flex-row gap-3 align-items-center">
                    <i class="rtmicon rtmicon-check-circle fs-4"></i>
                    <span>{{ f }}</span>
                </div>
            {% endfor %}


                                    </div>

                                    {% if request.session.customer_id %}

        <a href="{% url 'loan_app_form' pkg.id %}"
        class="btn btn-accent d-flex flex-row gap-3 w-100">

        <span class="accent-primary">
        Select Package
        </span>

        <i class="rtmicon rtmicon-arrow-up-right fw-bold"></i>

        </a>

        {% else %}

        <a href="{% url 'login' %}"
        class="btn btn-accent d-flex flex-row gap-3 w-100">

        <span class="accent-primary">
        Login to Apply
        </span>

        <i class="rtmicon rtmicon-arrow-up-right fw-bold"></i>

        </a>

        {% endif %}

                                </div>

                            </div>

                        </div>

                        {% empty %}
                        <p class="text-center">No packages available.</p>
                        {% endfor %}

                    </div>
                </div>
            </div>


                    <!-- Section CTA -->
                    <div class="section">
                        <div class="r-container position-relative">
                            <div class="d-flex flex-column gap-3 accent-primary position-relative p-5 overflow-hidden bg-attach-cover"
                                style="z-index: 2; background-image: url({% static 'image/img12.png' %}); border-radius: 30px;">
                                <div class="bg-overlay"></div>
                                <div class="d-flex flex-column gap-3 position-relative" style="max-width: 700px; z-index: 2;">
                                    <div class="sub-heading cta">
                                        <h6 class="m-0">Pricing Plan</h6>
                                    </div>
                                    <h3>Choose the Perfect Plan for Your Financial Success</h3>
                                    <p class="accent-primary">Select from our flexible pricing options. We have the right plan to
                                        help you grow your wealth
                                        and
                                        achieve financial success.</p>
                                    <div class="w-max-content">
                                        <a href="/contact/" class="btn btn-accent d-flex flex-row gap-2 px-4 py-3">
                                            <span>Contact Us</span>
                                            <i class="rtmicon rtmicon-arrow-up-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>

                </main>


            {% endblock %}
