{% extends 'base.html' %}

{% block title %}Loan Application{% endblock %}

{% block content %}
{% load static %}   



<div class="loan-form-app">

<div class="loan-wrapper">

<h2 class="title">Apply Loan in <span>2 Minutes!</span></h2>
<p class="subtitle">Fill in 3 simple steps • 100% Digital • No Branch Visit Needed</p>

<div class="steps">
<div class="step active">1</div>
<div class="step">2</div>
<div class="step">3</div>
<div class="step">4</div>
</div>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="form-step active">
<h4>Personal Details</h4>

<div class="mb-3">
<label class="loan-label">FULL NAME *</label>
<input type="text" name="full_name" class="form-control" placeholder="Enter your full name" required>
</div>

<div class="mb-3">
<label class="loan-label">EMAIL ADDRESS *</label>
<input type="email" name="email" class="form-control" placeholder="you@example.com" required>
</div>

<div class="row">
<div class="col-md-6 mb-3">
<label class="loan-label">PHONE NUMBER *</label>
<input type="text" name="mobile" class="form-control" placeholder="10-digit number" required>
</div>

<div class="col-md-6 mb-3">
<label class="loan-label">AGE*</label>
<input type="text" name="age" class="form-control" placeholder="Enter Your Age" required>
</div>
</div>

<div class="row">
<div class="col-md-6 mb-3">
<label class="loan-label">GENDER *</label>
<select name="gender" class="form-select">
<option selected disabled>Select Gender</option>
<option>Male</option>
<option>Female</option>
<option>Other</option>
</select>
</div>

<div class="col-md-6 mb-3">
<label class="loan-label">STATE *</label>
<select name="state" class="form-select">
<option selected disabled>Select State</option>
<option value="AP">Andhra Pradesh</option>
 <option value="AP">Andhra Pradesh</option>
<option value="AR">Arunachal Pradesh</option>
<option value="AS">Assam</option>
<option value="BR">Bihar</option>
<option value="CT">Chhattisgarh</option>
<option value="GA">Gujarat</option>
<option value="HR">Haryana</option>
<option value="HP">Himachal Pradesh</option>
<option value="JK">Jammu and Kashmir</option>
<option value="GA">Goa</option>
<option value="JH">Jharkhand</option>
<option value="KA">Karnataka</option>
<option value="KL">Kerala</option>
<option value="MP">Madhya Pradesh</option>
<option value="MH">Maharashtra</option>
<option value="MN">Manipur</option>
<option value="ML">Meghalaya</option>
<option value="MZ">Mizoram</option>
<option value="NL">Nagaland</option>
<option value="OR">Odisha</option>
<option value="PB">Punjab</option>
<option value="RJ">Rajasthan</option>
<option value="SK">Sikkim</option>
<option value="TN">Tamil Nadu</option>
<option value="TG">Telangana</option>
<option value="TR">Tripura</option>
<option value="UT">Uttarakhand</option>
<option value="UP">Uttar Pradesh</option>
<option value="WB">West Bengal</option>
<option value="AN">Andaman and Nicobar Islands</option>
<option value="CH">Chandigarh</option>
<option value="DN">Dadra and Nagar Haveli</option>
<option value="DD">Daman and Diu</option>	
<option value="DL">Delhi</option>
<option value="LD">Lakshadweep</option>
<option value="PY">Puducherry</option>
</select>
</div>
</div>

<div class="row">
<div class="col-md-6 mb-3">
<label class="loan-label">CITY AND PINCODE *</label>
<input type="text" name="city" class="form-control" placeholder="Your city and pincode" required>
</div>

<div class="col-md-6 mb-3">
<label class="loan-label">PAN NUMBER *</label>
<input type="text" name="pan" class="form-control" placeholder="ABCDE1234F" required>
</div>
</div>

<div class="mb-4">
<label class="loan-label">AADHAAR NUMBER *</label>
<input type="text" name="aadhaar" class="form-control" placeholder="12-digit Aadhaar number" required>
</div>

<button type="button" class="next-btn">Next →</button>
</div>


<!-- ================= STEP 2 ================= -->
<div class="form-step">

<h4>Loan Details</h4>
<p class="text-muted mb-4">Enter your loan requirements below</p>

<div class="mb-3">
<label class="loan-label">TYPE OF LOAN *</label>
<select name="loan_type" class="form-select" id="loanType">
    <option value="">Select Loan Type</option>
    <option value="personal">Personal Loan</option>
    <option value="home">Home Loan</option>
    <option value="business">Business Loan</option>
    <option value="education">Education Loan</option>
</select>
</div>

<div class="mb-3">
<label class="loan-label">PURPOSE OF LOAN</label>
<input type="text" name="purpose" class="form-control" placeholder="Enter purpose of loan">
</div>

<div class="mb-3">
<label class="loan-label">LOAN AMOUNT *</label>
<input type="text" name="loan_amount" class="form-control" placeholder="e.g. 500000">
</div>

<div class="row">
<div class="col-md-6 mb-3">
<label class="loan-label">LOAN TENURE *</label>
<select name="tenure" class="form-select">
<option>Select Loan Tenure</option>
<option value=1>1 year</option>
<option value=2>2 year</option>
<option value=3>3 year</option>
<option value=4>4 year</option>
<option value=5>5 year</option>
</select>
</div>

<div class="col-md-6 mb-3">
<label class="loan-label">INTEREST RATE *</label>
<input type="text" name="interest_rate" id="interestRate"
       class="form-control"
       value="5"
       readonly>
</div>
</div>

<div class="d-flex justify-content-between mt-4">
<button type="button" class="prev-btn">← Previous</button>
<button type="button" class="next-btn">Next →</button>
</div>

</div>

<!-- ================= STEP 3 ================= -->
<div class="form-step">

<h4>Bank Details</h4>

<label class="loan-label">BANK NAME *</label>
<input type="text" name="bank" class="form-control" placeholder="Enter Bank Name" required>

<div class="row">
<div class="col-md-6 mb-3">
<label class="loan-label">IFSC CODE *</label>
<input type="text" name="ifsc" class="form-control" placeholder="Enter IFSC Code" required>
</div>

<div class="col-md-6 mb-3">
<label class="loan-label">ACCOUNT NO. *</label>
<input type="text" name="account" class="form-control" placeholder="Bank Account Number" required>
</div>
</div>

<button type="button" class="prev-btn">← Previous</button>
<button type="button" class="next-btn">Next →</button>

</div>
<!-- ================= STEP 4 ================= -->
<div class="form-step">

<h4>Upload Documents</h4>

<div class="row">

<div class="col-md-6 mb-3">
<label>Aadhaar Card</label>
<input type="file" name="aadhaar_doc" required>
</div>

<div class="col-md-6 mb-3">
<label>PAN Card</label>
<input type="file" name="pan_doc" required>
</div>

<div class="col-md-6 mb-3">
<label>Photo</label>
<input type="file" name="photo_doc">
</div>

<div class="col-md-6 mb-3">
<label>Bank Statement</label>
<input type="file" name="bank_doc">
</div>

<div class="col-md-6 mb-3">
<label>Salary Slip</label>
<input type="file" name="salary_doc">
</div>

<div class="col-md-6 mb-3">
<label>Address Proof</label>
<input type="file" name="address_doc">
</div>

<div class="col-md-6 mb-3">
<label>Income Proof</label>
<input type="file" name="income_doc">
</div>

<div class="col-md-6 mb-3">
<label>Property Document</label>
<input type="file" name="property_doc">
</div>

<div class="col-md-6 mb-3">
<label>Business Proof</label>
<input type="file" name="business_doc">
</div>

<div class="col-md-6 mb-3">
<label>Signature</label>
<input type="file" name="sign_doc">
</div>

</div>

<button type="button" class="prev-btn">← Previous</button>
<button type="submit">Submit Application</button>

</div>

</form>

</div>
</div>
{% endblock %}